* {
  padding: 0px;
  margin: 0px; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local(OpenSans-Light), url(//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local(OpenSans), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local(OpenSans-Bold), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

/*	Typography presets
  ------------------------------------	*/
h1,
h3,
h4 {
  color: #333;
  font-weight: bold; }

h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

h3 {
  font-size: 16px;
  line-height: 1.38;
  color: #cd8a6d;
  text-align: center;
  padding: 100px 0 30px; }

h4 {
  font-size: 22px;
  line-height: 1.38; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* Links
  ------------------------------------	*/
a {
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #e3c6b1; }

/* Basic Styles
  ------------------------------------	*/
body {
  background: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #666; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }

h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

header {
  z-index: 800 !important; }
  header nav {
    position: absolute;
    right: 0;
    z-index: 850; }
  header nav a, header .kicker {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }

footer .lockup .content-wrap a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

header, footer {
  background-repeat: no-repeat,no-repeat;
  background-size: 50px 50px,cover;
  background-position: 30px 50px,50% 50%;
  background-blend-mode: overlay,normal; }

@media (max-width: 767px) {
  header nav {
    float: none !important;
    padding: 0px !important;
    position: inherit; }
    header nav a {
      width: 100%;
      font-size: 1.5em; }
  header h1 {
    padding-top: 50px; } }

@media screen and (max-width: 480px) {
  h3 {
    padding: 50px 0 50px; } }

section:nth-child(odd) {
  background: #e5eaee;
  padding-bottom: 100px; }

section:nth-child(4) {
  padding-bottom: 200px !important; }

section:nth-child(5) {
  padding-bottom: 0px !important; }

section:nth-child(6) {
  padding-bottom: 100px !important; }

/* Section header
  ------------------------------------	*/
header {
  background-position: 30px 20px, 50% 50%;
  background-image: url(), url(../img/hero-bg.jpg);
  padding-bottom: 50px;
  position: relative; }
  header nav {
    float: right;
    padding: 30px 30px 0 0;
    text-align: center; }
    header nav a {
      display: inline-block;
      margin-left: 20px;
      color: #d0cfce; }
      header nav a:hover {
        color: white; }
  header h1 {
    text-align: center;
    padding-top: 0;
    font-size: 72px;
    color: white;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px; }
    header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: rgba(255, 255, 255, 0.88) solid 10px; }
  header .kicker {
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.88);
    line-height: 1; }

@media (max-width: 640px) {
  header {
    background-position: 50% 20px, 50% 50%; }
    header nav {
      float: none;
      text-align: center;
      padding-top: 90px; }
    header h1 {
      padding-top: 0px; } }

/* Section work
  ------------------------------------	*/
.section-work {
  overflow-x: hidden; }

.noscript {
  display: none; }

.return {
  display: none; }

.trigger {
  display: none; }
  .trigger:checked ~ .work-belt {
    left: -100%; }
    .trigger:checked ~ .work-belt .work-wrap .work-container {
      display: block; }

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  -webkit-transition: all,800ms;
  -o-transition: all,800ms;
  transition: all,800ms; }
  .work-belt.slided {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left; }

.thumb-container {
  display: block;
  max-width: 960px;
  margin: 0px auto; }
  .thumb-container::after {
    content: "";
    display: table;
    clear: both; }

label {
  position: relative;
  display: block;
  cursor: pointer; }
  label .thumb-unit {
    display: block;
    overflow: hidden; }
    label .thumb-unit img {
      display: block;
      max-width: 100%; }
  @media screen and (max-width: 760px) {
    label {
      width: 50%; } }
  label .thumb-overlay {
    position: absolute;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #cd8a6d;
    text-align: center; }
    label .thumb-overlay strong {
      display: block;
      padding: 0 9%;
      color: white;
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;
      line-height: 1.2; }
  label:hover {
    z-index: 2; }

.work-container {
  max-width: 600px;
  margin: 0px auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: none;
  position: relative; }
  .work-container h4, .work-container noscript h4 {
    color: #cd8a6d;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
    margin: 0 0 20px; }
  .work-container img {
    max-width: 100%;
    margin-bottom: 20px; }
  .work-container .work-return {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: -4px;
    left: -60px; }
    .work-container .work-return path {
      fill: rgba(0, 0, 0, 0.4); }
    .work-container .work-return:hover {
      opacity: 1; }

@media (max-width: 740px) {
  .work-container .work-return {
    left: 0px; }
  .work-container h4 {
    margin-left: 60px; }
  .section-work .thumb-wrap {
    width: 78% !important; }
  .section-work .thumb-container label {
    width: 100% !important; } }

/* Section contact
  ------------------------------------	*/
.section-contact {
  text-align: center; }

.social-links {
  max-width: 700px;
  margin: 0px auto 50px;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .social-links a {
    display: block;
    border: 2px solid #cd8a6d;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #cd8a6d;
    border-radius: 50%;
    font-size: 28px;
    margin: 20px;
    position: relative; }
    .social-links a:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid #cd8a6d;
      border-radius: 50%;
      margin: -2px;
      opacity: 1;
      -webkit-transition: all .15s ease-out 0;
      -o-transition: all .15s ease-out 0;
      transition: all .15s ease-out 0; }
    .social-links a:hover:after {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0; }
    .social-links a:hover {
      border-color: #8f3c12; }

.bar {
  width: 250px;
  height: 0px;
  border-top: 4px solid #cd8a6d;
  margin: 0px auto 50px; }

.biglink {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  width: 90%;
  margin: 0 auto; }

.help-block {
  color: #b92e24; }

/* Section about
  ------------------------------------	*/
.face-lockup {
  max-width: 780px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .face-lockup .face-img {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/travitar.png);
    width: 200px;
    height: 200px; }

.biglink {
  color: #c99065;
  text-decoration: none;
  outline: 0; }

@media screen and (max-width: 650px) {
  .face-lockup {
    display: block;
    text-align: center; }
    .face-lockup div {
      display: inline-block; }
    .face-lockup .face-img {
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto 30px; }
    .face-lockup [class^="icon-"] {
      margin: 10px 9%; }
  textarea {
    width: 200% !important; } }

.blurb {
  max-width: 620px;
  padding: 0 20px;
  margin: 50px auto;
  font-size: 24px;
  text-align: center;
  font-weight: 300; }

.skill-lockup {
  max-width: 540px;
  margin: 100px auto;
  color: #999; }
  .skill-lockup::after {
    content: "";
    display: table;
    clear: both; }
  .skill-lockup .skill-unit {
    width: 270px;
    float: left; }
  .skill-lockup .skill-icons {
    font-size: 0;
    margin: 3px 0 30px; }
    .skill-lockup .skill-icons span {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #cd8a6d;
      margin-right: 8px;
      border-radius: 50%; }
      .skill-lockup .skill-icons span:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        margin: 2px; }
    .skill-lockup .skill-icons.skill-1 span:nth-child(n+2) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-2 span:nth-child(n+3) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-3 span:nth-child(n+4) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-4 span:nth-child(n+5) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-5 span:nth-child(n+6) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-6 span:nth-child(n+7) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-7 span:nth-child(n+8) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-8 span:nth-child(n+9) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-9 span:nth-child(n+10) {
      background: #e5eaee; }
    .skill-lockup .skill-icons.skill-10 span:nth-child(n+11) {
      background: #e5eaee; }

@media screen and (max-width: 541px) {
  .skill-lockup {
    width: 220px; }
    .skill-lockup .skill-unit {
      width: 220px; } }

.contact-button .button {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin: 5em auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  width: 220px;
  height: 30px;
  background: #cd8a6d;
  border: 1px solid #cd8a6d;
  color: #FFF;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .contact-button .button span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    -webkit-transition: padding-right 0.5s;
    -o-transition: padding-right 0.5s;
    transition: padding-right 0.5s; }
    .contact-button .button span:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: -18px;
      opacity: 0;
      width: 10px;
      height: 10px;
      margin-top: -10px;
      background: transparent;
      border: 3px solid #FFF;
      border-top: none;
      border-right: none;
      -webkit-transition: opacity 0.5s, top 0.5s, right 0.5s;
      -o-transition: opacity 0.5s, top 0.5s, right 0.5s;
      transition: opacity 0.5s, top 0.5s, right 0.5s;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .contact-button .button:hover {
    text-decoration: none;
    background: #cd8a6d;
    border: 1px solid #cd8a6d;
    background: #FFF;
    color: #cd8a6d; }
  .contact-button .button:active {
    text-decoration: none;
    color: #0C5;
    border-color: #0C5;
    background: #FFF; }

.contact-button .button:hover span,
.contact-button .button:active span {
  padding-right: 30px; }

.contact-button .button:hover span:after,
.contact-button .button:active span:after {
  -webkit-transition: opacity 0.5s, top 0.5s, right 0.5s;
  -o-transition: opacity 0.5s, top 0.5s, right 0.5s;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #cd8a6d;
  right: 0;
  top: 50%; }

.section-contact {
  position: relative; }
  .section-contact .fa-linkedin:hover {
    color: red; }

/* Section form
  ------------------------------------	*/
form {
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 0 20px; }
  form input, form textarea {
    border: 3px solid #cd8a6d;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px; }
    form input:focus, form textarea:focus {
      outline: none;
      border-color: #cd8a6d; }
  form textarea {
    height: 10em;
    resize: none; }
  form .submit-wrap {
    text-align: right; }
  form [type="submit"] {
    background: #cd8a6d;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 40%;
    height: 3em;
    border: none; }
    form [type="submit"]:hover {
      background: #fff;
      color: #cd8a6d;
      cursor: pointer;
      border: 1px solid #cd8a6d; }
  form .contact-info-group label {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    form .contact-info-group label:nth-child(1) {
      padding-right: 10px; }
    form .contact-info-group label:nth-child(2) {
      padding-left: 10px; }
  form label {
    display: block;
    margin-bottom: 20px; }
    form label span {
      display: block; }

@media (max-width: 541px) {
  form .contact-info-group label {
    width: 100%; }
    form .contact-info-group label:nth-child(1) {
      padding: 0; }
    form .contact-info-group label:nth-child(2) {
      padding: 0; }
  form [type="submit"] {
    width: 100%; } }

.error-message {
  opacity: 0;
  color: #f04e59;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

/* Section footer
  ------------------------------------	*/
footer {
  background-image: url(), url(../img/hero-bg.jpg); }
  footer .lockup {
    padding: 50px 30px; }
    footer .lockup::after {
      content: "";
      display: table;
      clear: both; }
    footer .lockup .content-wrap {
      float: left;
      margin-left: 80px; }
      footer .lockup .content-wrap .copyright {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: #dcdad7; }
      footer .lockup .content-wrap a {
        color: #dcdad7;
        display: inline-block;
        margin-right: 30px; }
        footer .lockup .content-wrap a:hover {
          color: rgba(255, 255, 255, 0.95); }

@media (max-width: 767px) {
  footer {
    background-image: url(), url(../img/hero-bg.jpg); }
    footer .lockup {
      padding: 50px 30px; }
      footer .lockup::after {
        content: "";
        display: table;
        clear: both; }
      footer .lockup .content-wrap {
        float: none;
        margin-left: 0px;
        text-align: center; }
        footer .lockup .content-wrap a {
          color: #dcdad7;
          display: inline-block;
          width: 100%; }
          footer .lockup .content-wrap a:hover {
            color: rgba(255, 255, 255, 0.95); } }

/* Loader
  ------------------------------------	*/
.thumb-container label {
  float: left;
  width: 25%; }
  .thumb-container label .thumb-overlay {
    width: 0;
    height: 0;
    top: 0;
    overflow: hidden; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  line-height: 1;
  display: block;
  margin-top: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.view .mask, .view .content {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.view img {
  display: block;
  position: relative; }

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0; }

.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center; }

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000; }
  .view a.info:hover {
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000; }

.view-first img {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.view-first .mask {
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: rgba(205, 138, 109, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.view-first h2 {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.view-first p {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.view-first:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.view-first a.info {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.view-first:hover .mask {
  filter: alpha(opacity=100);
  opacity: 1; }

.view-first:hover h2, .view-first:hover p, .view-first:hover a.info {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.view-first:hover p {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.view-first:hover a.info {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }

#map {
  height: 37.500em;
  width: 100%; }

#canvas {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100%; }
